*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f5f9;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    background-color: rgba(222, 166, 94, 0.5);
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 90%;
    margin: 2.5rem;
    padding: 1rem;
    height: 43rem;
}

h1{
    color: #464141;
    font-size: 4rem;
}

p{
    margin-top: 2rem;
    font-size:2rem ;
    color: #db2121;
    font-weight: 700;
}

.nav-buttons a {
    text-decoration: none;
}

.nav-buttons button {
    background-color: var(--primary-color);
    color: rgb(138, 149, 59);
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    border: 1.5px solid blue;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;

}

.nav-buttons button:hover {
    background-color: blue;
    color: white;
    border-color: red;
}

.quote {
    font-style: italic;
    color: #4e1b59;
    margin-top: 3rem;
    font-size: 1.5rem;

}

.log-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 2rem;
}

.log-form label {
    font-size: 1.5rem;
    text-align: left;
    color: #0d1c58;
    font-weight: 500;
}

.log-form input,
.log-form select {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: 2px solid #821d1d;
    font-size: 1rem;
    width: 70%;
    background: #ebd1d1;
    color: #403483;
}

.log-form button {
    background-color: #67aeda;
    color: white;
    margin-top: 1.5rem;
    padding: 0.8rem 1.2rem;
    border: 2px solid brown;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.log-form button:hover {
    background-color: #03243d;
    color:whitesmoke
}


.log-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    font-size: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
}

.log-table th, .log-table td {
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
}

.log-table th {
    background-color: #4CAF50;
    color: white;
}

.log-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
