<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Welcome to your Productivity Tracker! </h1>
        <p>Track your daily activites and watch your process grow!</p>
    
        <div class="nav-buttons">
            <a href="/log_form"><button>Log New Activity</button></a>
            <a href="http://localhost:8501" target="_blank"><button>View Analysis</button></a>
        </div>
    
        <p class="quote">"Success is the sum of small efforts, repeated day in and day out."</p>
    </div>
    
</body>
</html>
